button{
    height: 30px;
    width: 70px;
    color: white;
    background-color: rgb(139, 118, 235);
    border-style: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(139, 118, 235, 0.8);
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}